/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 */


html {
	background: url("images/lay_bg_stripe.gif") repeat scroll 0 0 #F5F5F5;
}

/******** header ***********/
#header-top-wrapper {
	background: #000000;
	border-bottom: 4px solid #84949F;
	max-height: 40px;
}


/******** header ***********/
#header-wrapper {
	background: transparent;
	border-bottom: none;
}

#header-wrapper header {
	margin: 0;
}

#header-wrapper .container {
	background: url("images/lay_hdr_main.gif") no-repeat scroll 0 0 #E5E5E5;
	border-left: 2px solid #ABABAB;
	border-right: 2px solid #ABABAB;
}

.hl-l #logo {
	margin-left: 160px;
}

#name-and-slogan {
	min-height: 92px;
}

#osu-top-hat  {
	top: 0;
	position: absolute;
}

 #osu-top-hat img.tag {
	left: 32px;
	top: 0;
	position: relative;	
	z-index: 899;
}

#branding {
	margin: 0;
}

img.site-logo {
	width: 80%;
}

/*#site-name a {
	color: #E1E1E1;
}*/

h1#site-name {
	padding-top: 1.0em;
	padding-left: 160px;
}




/******** menu ***********/

#menu-wrapper {
	box-shadow: none;
	/*min-height: 2.5em;*/
	top: 0;
}

#menu-bar {
	background: url("images/lay_hdr_nav.png") no-repeat scroll center 0 #F5F5F5;
}

#menu-bar .block {
	text-transform: none;
}

.nav .block-menu ul a,
.nav .block-menu ul a:active {
	padding: 4px 1em 0.75em;
}


/** breadcrumb **/
#breadcrumb {
	margin-bottom: 0;
}

#breadcrumb h2 {
	display: none;
}

div.messages {
	margin-top: 0;
}

/******** content ***********/
#content-wrapper .container,
#footer-wrapper {
	background: #F5F5F5;
	border-left: 2px solid #ABABAB;
	border-right: 2px solid #ABABAB;
}

#content-wrapper {
	/*border-bottom: 1px solid #D5D5D5;*/
	border-left: 2px solid #999;
	border-right: 2px solid #999;
  border-top: none;
}

div#page {
	background-color: transparent;
}

#content-wrapper.no-secondary {
    padding-top: 0;
}

#content-wrapper .container {
	background-attachment: inherit;
	background-image: url("images/lay_ilr_vertr.png");
	background-position: 75% 0;
	background-repeat: repeat-y;
}

#columns {
	padding-top: 2.000em;
	padding-left: 1em;
}

h3.views-field-title {
	font-size: 1.125em;
	line-height: 1.25;
}


/******** sidebars ***********/
.region-sidebar-second .views-row-last {
	margin-bottom: 2.0em;
}

.region-sidebar-second section {
	background: url("images/lay_ilr_horr.gif") no-repeat scroll left bottom transparent;
	margin-left: -13px;
	padding-left: 10px;
}

.region-sidebar-second .block-views .item-list ul li {
	list-style-image: url("images/arrow-double.png");
}

div#block-search-form {
	margin-bottom: 0;
}

#boxes-box-cart_checkout_buttons {
	float: right;
	clear: both;
	margin-bottom: 0;
}



/******** commerce stuff - move to appropriate module ***********/

.field-type-commerce-price {
	font-size: 1.125em;
}  

input#edit-checkout, 
input#edit-continue {
	font-size: 1.0em;
}

input#edit-submit[value*="Update cart"], 
input#edit-cancel {
	font-size: 1.0em;
}